boto3
botocore
certifi
chardet
Click
dominate
psycopg2-binary
idna
itsdangerous

Flask
Flask-Bootstrap
Flask-Login
Flask-SQLAlchemy
Flask-WTF
gunicorn
Jinja2
MarkupSafe
python-dateutil
requests
SQLAlchemy
urllib3
visitor
Werkzeug
WTForms
email_validator
