{%extends "base.html"%}

{% block title %}Sessions{% endblock %}

{% block content %}

<body>


  <div class="container">
    <main>
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="assets/icon/waveform.png" alt="" width="72" height="57">
        <h2>Create your very own Session</h2>
        <p class="lead">Fill out the form below and click submit</p>
      </div>

      <div class="row">
        <div class="col-md-8">
          <h4 class="mb-3">Session Details</h4>
          <form class="needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-sm-12">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Name of our event" value="" required>
                <div class="invalid-feedback">
                  Session Title can't be empty
                </div>
              </div>



              <!-- <small class="form-text text-muted">For event updates and/or management</small> -->



              <div class="col-sm-6">
                <label for="genre" class="form-label">Genre</label>
                <select class="form-select" id="genre" required>
                  <option value="">Choose...</option>
                  <option>Alternative</option>
                  <option>Pop</option>
                  <option>Indie</option>
                  <option>Rock</option>
                  <option>Soul</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid genre.
                </div>
              </div>


              <div class="col-sm-6">
                <label for="date" class="form-label">Date</label>
                <input type="text" class="form-control" id="date" placeholder="DD/MM/YYYY" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>

              <div class="col-12">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control text-muted" id="description" rows="3"
                  placeholder="Enter descriptions here.."></textarea>
                <small class="form-text text-muted">Give us all the details, don't be a lazy slag</small>

              </div>

              <div class="col-sm-4">
                <label for="ticketquantity" class="form-label">Ticket quantity</label>
                <input type="text" class="form-control" id="ticketquantity" placeholder="However many you want bae x"
                  required>
                <div class="invalid-feedback">
                  Please enter ticket quantity
                </div>
              </div>


              <div class="col-sm-4">
                <label for="priceField" class="form-label">Ticket price</label>
                <input type="text" class="form-control" id="priceField" placeholder="$d.cc" required>
                <div class="invalid-feedback">
                  Please enter a ticket price this isn't a charity!
                </div>
              </div>


              <div class="col-sm-8">
                <label for="venue" class="form-label">Venue Location</label>
                <input type="text" class="form-control" id="venue" placeholder="1234 Main St" required>
                <div class="invalid-feedback">
                  Please enter the venue location
                </div>
              </div>


            </div>





          </form>
        </div>

        <div class="col-md-4">
          <h4 class="mb-3">Upload images</h4>
          <input class="form-control form-control-lg" id="formFileLg" type="file" />
        </div>


      </div>


      <div class="col text-center">
        <button class="mt-5 w-25 btn btn-primary btn-lg" type="submit">Submit</button>
      </div>

  </div>





  </main>


  </div>
  <footer class="my-5 pt-5 text-muted text-center text-small">

    <div class="col-12 col-md">
      <img class="mb-2" src="assets/logo1.png" alt="" width="24" height="24">
    </div>
    <p class="mb-1">&copy; IAB207 Assignment 3 - 2022</p>

  </footer>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

</body>
{% endblock %}

</html>