{%extends "base.html"%}

{% block title %}Sessions{% endblock %}

{% block content %}
<body>


       <!-- ======= Hero Section ======= -->
    {% if events_present %}
        <style>
            #hero {
                width: 100%;
                height: 100vh;
                background-image: url("{{ concerts[0].event_image }}");
            }
        </style>
        <section id="hero" class="d-flex align-items-center">

            <div class="container">
              <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    
                    <h1>{{ concerts[0].event_name }}</h1>
                    <h2>{{ concerts[0].event_date }}</h2>
                    <h2>{{ concerts[0].event_venue }}</h2>

                    {% if concerts[0].event_status == 'Upcoming' %}
                        <h2>Upcoming</h2>
                        <!-- <button type="button" class="btn btn-success">Upcoming</button> -->

                    {% elif concerts[0].event_status == 'Booked' %}
                        <h2>Booked</h2>
                        <!-- <button type="button" class="btn btn-warning">Booked</button> -->

                    {% elif concerts[0].event_status == 'Cancelled' %}
                        <h2>Cancelled</h2>
                        <!-- <button type="button" class="btn btn-danger">Cancelled</button> -->

                    {% elif concerts[0].event_status == 'Sold Out' %}
                        <h2>Sold Out</h2>
                        <button type="button" class="btn btn-secondary">Sold Out</button>

                    {% endif %}

                        <div class="d-flex justify-content-center justify-content-lg-start">
                        <button type="button" class="btn btn-outline-warning btn-lg rounded-pill">Book Tickets</button>
                        <a href="event-details.html" class="glightbox btn-event-details"><i class="bi bi-play-circle"></i><span>View More Details</span></a>
                    </div>
                  </div>
                </div>
         
            </section><!-- End Hero -->

            <div class="container" id="events-view">
            <br>

            <div class="row">
            {% if concert_count > 1 %}
                {% for i in range(1,concert_count) %}
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ concerts[i].event_image }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ concerts[i].event_name }}</h5>
                                <p class="card-text">{{ concerts[i].event_description }}</p>
                                {% if concerts[i].event_status == 'Upcoming' %}
                                    <button type="button" class="btn btn-success">Upcoming</button>

                                {% elif concerts[i].event_status == 'Booked' %}
                                    <button type="button" class="btn btn-warning">Booked</button>

                                {% elif concerts[i].event_status == 'Cancelled' %}
                                    <button type="button" class="btn btn-danger">Cancelled</button>

                                {% elif concerts[i].event_status == 'Sold Out' %}
                                    <button type="button" class="btn btn-secondary">Sold Out</button>

                                {% endif %}

                                <a href="{{ url_for('concert.show',id=concerts[i].id) }}" class="btn btn-primary">See details</a>

                                {% if current_user.username == concerts[i].event_creator %}
                                    <a href="{{ url_for('concert.update',id=concerts[i].id) }}" class="btn btn-warning">Edit</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>

    {% else %}
        <div class="container-fluid">
            <div class="px-4 py-5 my-5 text-center">
                <img class="d-block mx-auto mb-5" src="{{ url_for('static',filename='assets/icon/waveform.png') }}" width="8%" alt="">
                <h1 class="display-5 fw-bold">Sessions</h1>
                &nbsp
                &nbsp
                &nbsp
                &nbsp
                <h3 class="display-10">No events found</h3>

            </div>
        </div>
    {% endif %}
         

<!-- <div class="see-more w-50 m-auto mt-5">
  <button class="w-100 btn btn-outline-primary" type="button" id="seeMoreEvents">See more events..</button>

</div> -->



<footer class="my-5 pt-5 text-muted text-center text-small">

  <div class="col-12 col-md">
    <img class="mb-2" src="static/assets/logo1.png" alt="" width="24" height="24">
  </div>
  <p class="mb-1">&copy; IAB207 Assignment 3 - 2022</p>

</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
{% endblock %}

</html>
