<!DOCTYPE html>
<html>

{% extends 'base.html' %}
{% block content %}    

<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="{{ url_for('static',filename='assets/icon/waveform.png') }}" alt="" width="72" height="57">
      <h2>Create your very own Session</h2>
      <p class="lead">Fill out the form below and click submit</p>
    </div>
    <div class="row">
      <div class="col-md-8">
          <h4 class="mb-3">Session Details</h4>
          <form action="/concerts/create" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <!-- <form> -->
            <div class="row g-3">
              <div class="col-sm-3 mt-2" id="event-status">

                <label for="eventStatus" class="form-label">Event Status</label>

                  {% if update %}
                    {{ form.status(class_="form-select",id="status",required=True,value=concert.event_status) }}
                  {% else %}
                    {{ form.status(class_="form-select dropdown-toggle",id="status",required=True) }}
                  {% endif %}
              </div>

              <div class="col-sm-12">
                <label for="title" class="form-label">Title</label>
                {% if update %}
                  {{ form.event_name(class_="form-control",id="title",placeholder="Name of event",required=True,value=concert.event_name) }}
                {% else %}
                  {{ form.event_name(class_="form-control",id="title",placeholder="Name of event",required=True) }}
                {% endif %}
                <div class="invalid-feedback">
                  Session Title can't be empty
                </div>
              </div>              

              <div class="col-sm-6">
                <label for="genre" class="form-label">Genre</label>
                {% if update %}
                  {{ form.genre(class_="form-select",id="genre",required=True,value=concert.event_date) }}
                {% else %}
                  {{ form.genre(class_="form-select",id="genre",required=True) }}
                {% endif %}
                <div class="invalid-feedback">
                  Please select a valid genre.
                </div>
              </div>
              

              <div class="col-sm-6">
                <label for="date" class="form-label">Date</label>
                {% if update %}
                  {{ form.event_date(class_="form-control",id="date",placeholder="DD/MM/YYYY",required=True, value=concert.event_date) }}
                {% else %}
                  {{ form.event_date(class_="form-control",id="date",placeholder="DD/MM/YYYY",required=True) }}
                {% endif %}
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
    
              <div class="col-12">
                <label for="description" class="form-label">Description</label>
                {% if update %}
                {{ form.event_description(class_="form-control text-muted",id="description",rows=3,placeholder="Enter description...",required=True,value=concert.event_description) }}
                {% else %}
                {{ form.event_description(class_="form-control text-muted",id="description",rows=3,placeholder="Enter description...",required=True) }}
                {% endif %}

              </div>

              <div class="col-sm-4">
                <label for="ticketquantity" class="form-label">Ticket quantity</label>
                {% if update %}
                {{ form.ticket_count(class_="form-control",id="ticketquantity",placeholder="Ticket quantity",required=True, value=concert.ticket_count) }}
                {% else %}
                {{ form.ticket_count(class_="form-control",id="ticketquantity",placeholder="Ticket quantity",required=True) }}
                {% endif %}
                <div class="invalid-feedback">
                  Please enter ticket quantity
                </div>
              </div>


              <div class="col-sm-4">
                <label for="priceField" class="form-label">Ticket price</label>
                {% if update %}
                {{ form.ticket_price(class_="form-control",id="priceField",placeholder="$d.cc",required=True,value=concert.ticket_price) }}
                {% else %}
                {{ form.ticket_price(class_="form-control",id="priceField",placeholder="$d.cc",required=True) }}
                {% endif %}
                <div class="invalid-feedback">
                  Please enter a ticket price this isn't a charity! 
                </div>
              </div>
            
  
              <div class="col-sm-8">
                <label for="venue" class="form-label">Venue Location</label>
                {% if update %}
                {{ form.venue(class_="form-control",id="venue",placeholder="1234 Main St",required=True,value=concert.event_venue) }}
                {% else %}
                {{ form.venue(class_="form-control",id="venue",placeholder="1234 Main St",required=True) }}
                {% endif %}
                <div class="invalid-feedback">
                  Please enter the venue location
                </div>
              </div>

              
            </div>


        
  
        </div>

        <div class="col-md-4">
          <h4 class="mb-3">Upload images</h4>
          <!-- <input class="form-control form-control-lg" id="formFileLg" type="file" /> -->
          {% if update %}
          {{ form.event_image(class_="form-control form-control-lg",id="formFileLg",required=True) }}
          {% else %}
          {{ form.event_image(class_="form-control form-control-lg",id="formFileLg",required=True) }}
          {% endif %}
      </div>
      
      
  </div>

  
  <div class="col text-center">
      {% if update %}
      <!-- <button type="button" class="mt-5 btn btn-lg btn-outline-danger">Delete event</button> -->
      {{ form.delete(class_="mt-5 btn btn-lg btn-outline-danger",value='Delete') }}
      {{ form.update(class_="mt-5 w-25 btn btn-primary btn-lg",value='Update Event') }}
      {% else %}
      {{ form.submit(class_="mt-5 w-25 btn btn-primary btn-lg",value='Create Event') }}
      {% endif %}
  </div>
  <div class="col text-center mt-2">
        </div>
    </div>
    </form>
      
    
      

    </main>
  

  </div>
  <footer class="my-5 pt-5 text-muted text-center text-small">

    <div class="col-12 col-md">
      <img class="mb-2" src="{{ url_for('static',filename='assets/logo1.png') }}" alt="" width="24" height="24">
    </div>
    <p class="mb-1">&copy; IAB207 Assignment 3 - 2022</p>
  
  </footer>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
crossorigin="anonymous"></script>

{% endblock %}


</html>
