{% extends 'base.html' %}

{% import "bootstrap5/form.html" as wtf %}

{% block content %}

<div class="container">  
    <div class="row mt-5 mb-3">  
      <div class="col-md-12">  
        <div class="float-left">
          <h1 class="mb-0">Concert Name</h1>  
          <p>{{concert.event_name}}</p>
        </div>

        <div class="float-left">  
          <h1 class="mb-0">Event Description:</h1>  
          <p>{{concert.event_description}}</p>
        </div>

        <div class="float-left">  
          <h1 class="mb-0">Event Date:</h1>  
          <p>{{concert.event_date}}</p>
        </div>

        <div class="float-left">  
          <h1 class="mb-0">Genre:</h1>  
          <p>{{concert.event_genre}}</p>
        </div>  
 
        <div class="float-left">  
          <h1 class="mb-0">Venue:</h1>  
          <p>{{concert.event_venue}}</p>
        </div>

        <div class="float-left">  
          <h1 class="mb-0">Ticket Count:</h1>
          <p>{{concert.ticket_count}}</p>
        </div>

        <div class="float-left">  
          <h1 class="mb-0">Ticket Price:</h1>  
          <p>{{concert.ticket_price}}</p>
        </div>

        <div class="float-left">  
          <!-- <h1 class="mb-0">{{concert.event_image}}</h1>   -->
          <img src="{{concert.event_image}}">
        </div>
        
      </div> 
    </div>  
 
    <!-- Destination --> 
    <!-- <div class="row">
      <div class="col-md-12">  
        <div class="card my-3">  
          <div class="card-body">  
            <div class="media">  
              <img class="align-self-start mr-3" src="{{concert.event_image}}">  
              <div class="media-body">  
                <small class="font-weight-bold text-muted">Stay 2 nights</small>  
                <h5 class="mt-0">{{concert.event_name}}</h5>  
                <p>{{concert.event_description}}</p>  

                <a href="#" class="btn btn-danger">Book Now</a>  
              </div>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>  -->    
 
   
 
    <hr>  
 
    <!-- Comments 
    <div class="row">  
      <div class="col-md-12">  
        <h2>Comments</h1>  
      </div>  
    </div>  
 
    <div class="row border-bottom"> 
      <div class="col-md-12">  
      </div> 
	</div>  -->
  </div> 

{% endblock %}
